[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = always

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0045: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_assignment = false
